* {
    box-sizing: border-box;
}

:host {
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-.5 * var(--easi-unit));
}

header {
    flex: 1 0 auto;
    min-width: 10em;
    min-height: 12.5em;
    display: flex;
    position: relative;
    padding: var(--easi-unit);
    margin: calc(.5 * var(--easi-unit));
    background: var(--easi-earnie-background);
    background-clip: padding-box;
    color: var(--easi-panel-color);
    border-radius: var(--easi-border-radius);
    border: var(--easi-panel-border);
    background-clip: padding-box;
}

a-easi-ernie {
    flex: 1 0 auto;
}

.score {
    position: absolute;
    top: calc(.5 * var(--easi-unit));
    right: calc(.5 * var(--easi-unit));
    width: 1.75em;
    height: 1.75em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5em;
    background-color: var(--easi-primary);
    color: var(--easi-primary-alt);
}

main {
    flex: 10 0 15em;
    display: flex;
    flex-direction: column;
    margin: calc(.5 * var(--easi-unit));
}

.region,
.signs {
    display: grid;
    grid-gap: var(--easi-grid-gap);
    grid-auto-columns: 1fr;
}

.region {
    padding: var(--easi-unit);
    background: var(--easi-panel-background);
    color: var(--easi-panel-color);
    border-radius: var(--easi-border-radius);
    border: var(--easi-panel-border);
    background-clip: padding-box;
    box-shadow: var(--easi-panel-shadow);
}

main.head section {
    border-top-left-radius: 0;
}

main.lower section {
    border-top-right-radius: 0;
}

.extent {
    margin-bottom: var(--easi-unit);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row label {
    flex: 1 0 var(--easi-label-width);
    align-self: center;
    padding: calc(.5 * var(--easi-unit)) 0 calc(.25 * var(--easi-unit));
}

.row.disabled label {
    opacity: .25;
}

nav {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: var(--easi-grid-gap);
}

nav label {
    display: inline-flex;
    border-radius: var(--easi-border-radius) var(--easi-border-radius) 0 0;
    margin: 0 0 calc(0px - var(--easi-border-radius) - var(--easi-panel-border-width));
    background-color: var(--easi-panel-border-color);
    background-clip: padding-box;
    cursor: pointer;
}

nav label[aria-checked] {
    margin: 0 0 calc(0px - var(--easi-panel-border-width));
    color: var(--easi-primary);
}

nav span {
    flex: 1;
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    border-radius: var(--easi-border-radius) var(--easi-border-radius) 0 0;
    border-bottom: none;
    padding: var(--easi-unit) calc(.25 * var(--easi-unit)) calc(var(--easi-unit) + var(--easi-border-radius));
    touch-action: none;
}

nav label[aria-checked] span {
    background: var(--easi-panel-background);
    color: var(--easi-panel-color);
    border: var(--easi-panel-border);
    border-bottom: none;
    padding-bottom: calc(var(--easi-unit) - var(--easi-panel-border-width));
    z-index: 1;
}

nav label[aria-checked] a::after {
    content: '';
    background: var(--easi-panel-background);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 2px;
}

a-easi-extent,
a-easi-severity {
    flex: 10 1 20em;
    --easi-checked-background: var(--easi-panel-checked-background);
    --easi-checked-color: var(--easi-panel-checked-color);
}
