:host {
    display: flex;
    flex-wrap: wrap;
}

a-easi-ernie {
    flex: 1 0 auto;
    min-width: 10em;
}

main {
    flex: 10 0 15em;
    display: flex;
    flex-direction: column;
}

section {
    display: grid;
    grid-gap: var(--easi-grid-gap);
    grid-auto-columns: 1fr;
    padding: var(--unit);
    background-color: var(--highlight);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row label {
    flex: 1 0 6.5em;
    align-self: center;
    padding: var(--unit) 0;
}

a-easi-extent,
a-easi-severity {
    flex: 10 1 20em;
}
