* {
    box-sizing: border-box;
}

:host {
    display: inline-flex;
    min-width: 7em;
    fill: hsla(var(--easi-ernie-hue), var(--easi-ernie-saturation), 50%, 0);
    stroke: var(--easi-ernie-border-color);
    padding: var(--easi-unit);
}

svg {
    flex: 1 1 auto;
    overflow: visible;
    stroke: var(--easi-ernie-border-color);
    stroke-width: var(--easi-ernie-border-width);
    stroke-linejoin: round;
    stroke-linecap: round;
    paint-order: stroke;
}

.selected {
    stroke: var(--easi-ernie-outline-color);
    stroke-width: var(--easi-ernie-outline-width);
}

.level-0 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 100%);
}

.level-1 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 95%);
}

.level-2 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 90%);
}

.level-3 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 85%);
}

.level-4 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 80%);
}

.level-5 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 75%);
}

.level-6 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 70%);
}

.level-7 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 65%);
}

.level-8 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 60%);
}

.level-9 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 55%);
}

.level-10 {
    fill: hsl(var(--easi-ernie-hue), var(--easi-ernie-saturation), 50%);
}
