:host {
    align-self: center;
    position: absolute;
    right: 0;
    width: var(--easi-messages-width);
    min-width: calc(.5 * var(--easi-unit));
    height: 100%;
    border-radius: 0 var(--easi-messages-border-radius) var(--easi-messages-border-radius) 0;
    background-color: var(--easi-warning-color);
}

:host([count="0"]) {
    display: none;
}