:root {
    --easi-unit: .75rem;

    --easi-grid-gap: var(--easi-unit) calc(.25 * var(--easi-unit));
    --easi-label-width: 8em;

    --easi-highlight: rgba(255, 255, 255, .3333);
    --easi-lowlight: rgba(0, 0, 0, .1);

    --easi-panel-background-color: rgb(228, 228, 228);

    --easi-border-radius: 4px;

    --easi-ernie-hue: -15;
    --easi-ernie-saturation: 66.7%;
    --easi-ernie-border-width: 4;
    --easi-ernie-border-color: rgba(0, 0, 0, .2);
    --easi-ernie-border-selected-color: rgba(0, 0, 0, .8);
}
