* {
    box-sizing: border-box;
}

:host {
    position: relative;
    display: inline-flex;
}

.options {
    flex: 1;
    display: grid;
    grid-gap: var(--easi-grid-gap);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    border-radius: var(--easi-border-radius);
    position: relative;
    overflow: hidden;
}

.option {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: calc(.5 * var(--easi-unit)) var(--easi-unit);
    background-color: var(--easi-lowlight);
    border: var(--easi-border);
    font-size: var(--easi-select-label-font-size);
    outline-offset: -1px;
    outline-width: 1px;
}

.option span {
    z-index: 1;
}

:host([disabled]) .option {
    opacity: .333;
}

:host(:not([disabled])) .option {
    cursor: pointer;
}

:host(:not([disabled])) .option[aria-checked="true"] {
    background-color: var(--easi-checked-background);
    color: var(--easi-checked-color);
    outline: var(--easi-checked-outline);
}