name: Build

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: npm install, build, test
        run: |
          npm i
          npm run build
          npm run test

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
